<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link rel="icon" type="image/png" href="assets/favicon32" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/favicon16" sizes="16x16">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Source+Sans+Pro');
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>
