@media (getbreakpoint(tablet-portrait-up)) {
  .item {
    flex-direction: row;
  }

  .thumbnail{
    margin-right: baseunits(2);
  }
}

@media (getbreakpoint(desktop-up)) {
  .item {
    flex-direction: row;
  }

  .thumbnail{
    margin-right: baseunits(2);
  }
}

@media (getbreakpoint(phone-only)) {
  .item {
    flex-direction: column;
  }
  .thumbnail{
    margin-bottom: baseunits(2);
    align-items: center;
  }
}

.item {
  display: flex;
  width: 100%;
  align-items: center;
}

.item + .item {
  margin-top: baseunits(3);
  padding-top: baseunits(3);
  border-top: 1px solid;
  border-color: getcolor(hint, 0.3);
}

.thumbnail {
  display: flex;
  flex-direction: column;
}
