.page h2 {
  font: gettypography(header);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-style: normal;
  text-align: center;
}

.page h3 {
  font: gettypography(subHeader);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-style: normal;
  text-align: left;
}

.page p,
.page li 
{
  font: gettypography(regular);
  text-decoration: none;
  font-style: normal;
}


.page section[data-field="content"] {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: baseunits(10);
  padding-bottom: baseunits(7);
}
.page section[data-field="content"]::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  content: '';
  height: 2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}
.page section[data-field="content"] > * {
  width: 70%;
  margin: 0 auto baseunits(3);
}

@media (getbreakpoint(phone-only)) {

  .page section[data-field="content"] > * {
    width: 85%;
  }
}

