@media (getbreakpoint(phone-only)) {
  .container {
    margin-bottom: baseunits(4);
  }
}

.wrapper {
  margin: 0 auto baseunits(2);
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
}
