@custom-media --viewport-medium (min-width: 1024px);

@media (--viewport-medium) {
  .wrapper {
    margin: 80px;
    border: 2px solid getcolor(noir, 0.2);
  }
}

.wrapper {
  padding: 100px 100px 0;
}
