@media (getbreakpoint(desktop-up)) {
  .wrapper {
    margin: baseunits(10);
    border: 2px solid getcolor(noir, 0.2);
  }
}

@media (getbreakpoint(desktop-up)) {
  .wrapper {
    padding: 100px 100px;
  }
}

@media (getbreakpoint(tablet-portrait-up)) {
  .wrapper {
    padding: baseunits(5) baseunits(5);
  }
}

@media (getbreakpoint(phone-only)) {
  .wrapper {
    padding: baseunits(10) baseunits(2) 0;
  }
}
