.wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(0deg , transparent 50%, getcolor(noir, 0.2) calc(50% + 2px), transparent calc(50% + 2px));
}

.container {
  background: getcolor(lift);
  margin: 0 auto;
  padding: 0 baseunits(4);
}

@media (getbreakpoint(phone-only)) {
  .container {
    padding: 0;
    margin: 0;
  }
}
