@media (getbreakpoint(phone-only)) {
  .container {
    margin-bottom: baseunits(4);
  }
}

.wrapper {
  margin: 0 auto baseunits(2);
  text-align: center;
}

@media (getbreakpoint(phone-only)) {
  .desktopOnly{
    display: none;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  flex-basis: 33.33%;
  text-align: center;
}
.item:first-child {
  text-align: left;
}
.item:last-child {
  text-align: right;
}

@media (getbreakpoint(phone-only)) {
  .item {
    flex-basis: auto;
    margin: 0;
  }
}

@media (getbreakpoint(phone-only)) {
  .info{
    justify-content: center;
  }
}
