.wrapper {
  margin-top: baseunits(8);
  margin-bottom: baseunits(8);
  text-align: center;
  width: 100%;
}

@media (getbreakpoint(phone-only)) {
  .wrapper {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-101%);
    transition: transform 0.2s ease-in;
    width: auto;
    padding: 0 baseunits(2);
    z-index: 1;
  }
  .wrapperActive {
    transform: none;
  }
}

.container {
  background: getcolor(lift);
  padding: 0;
  margin: 0;
}

.item {
  background: getcolor(lift);
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
}
.item + .item {
  margin-left: baseunits(4);
}

@media (getbreakpoint(phone-only)) {
  .item {
    display: block;
    width: 100%;
  }
  .item + .item {
    margin-left: 0;
  }
  .item:nth-last-child(2) {
    margin-bottom: baseunits(1);
  }
}

.mobileMenuItem{
  composes: item;
  display: none;
  border-top: 1px solid getcolor(noir, 0.2);
  border-bottom: 1px solid getcolor(noir, 0.2);
  padding: baseunits(1) 0;
  position: absolute;
  top: 100%;
  cursor: pointer;
}

@media (getbreakpoint(phone-only)) {
  .mobileMenuItem {
    display: block;
  }
}
